<div class="keyboard">
    <div class="leftBtns">
        <div class="smallBtnFld">
            <div class="btnRow">
                <div class="smallBtn"><span class="ltb">t</span><span class="rbb">?</span></div>
                <div class="smallBtn"><span class="ltb">h</span><span class="rbb">_</span></div>
                <div class="smallBtn"><span class="ltb">o</span><span class="rbb">i</span></div>
            </div>
            <div class="btnRow">
                <div class="smallBtn"><span class="ltb">j</span><span class="rbb">q</span></div>
                <div class="smallBtn"><span class="ltb">╎</span><span class="rbb">b</span></div>
                <div class="smallBtn"><span class="ltb">s</span><span class="rbb">l</span></div>
            </div>
            <div class="btnRow">
                <div class="smallBtn"><span class="ltb">e</span><span class="rbb">x</span></div>
                <div class="smallBtn"><span class="ltb">w</span><span class="rbb">z</span></div>
                <div class="smallBtn"><span class="ltb">r</span><span class="rbb">m</span></div>
            </div>
        </div>
            <div class="btnRow">
                <div class="wideBtn"><span class="ltb">y</span><span class="rbb">d</span></div><div class="smallBtn"><span class="ltb">k</span><span class="rbb">g</span></div>
            </div>
    </div>
    <div class="longBtn"><p>++<br>a</p></div>
</div>
