body {
    font-family: "American Typewriter";
}

.btn:hover {
    cursor: pointer;
}

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.field {
    display: inline-flex;
}

.field:hover {
    cursor: pointer;
}

.cell {
    width: 40px;
    height: 40px;
    border: black solid 1px;
    /*background-color: lightgray;*/
    color: white;
    padding: 1px;
}

.field-container {
    width: 60%;
    display: flex;
    justify-content: center;
    background-color: azure;
    padding: 2% 0 2%;
}

.bottom-container {
    background-color: cornsilk;
}

.constBtns {

}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

input {
    width: 80%;
    font-size: 24px;
}

.powerBtn {
    font-size: 18px;
    width: 230px;
    height: 50px;
}

 #countTime {
     font-size: 20px;
 }

 #current_date_time_block2 {
     font-size: 20px;
 }

 .constBtn {
     height: 40px;
     font-size: 14px;
 }
